# Place a copy of this config to ~/.aerospace.toml
# After that, you can edit ~/.aerospace.toml to your liking

# It's not necessary to copy all keys to your config.
# If the key is missing in your config, "default-config.toml" will serve as a fallback

# You can use it to add commands that run after login to macOS user session.
# 'start-at-login' needs to be 'true' for 'after-login-command' to work
# Available commands: https://nikitabobko.github.io/AeroSpace/commands
after-login-command = []

# You can use it to add commands that run after AeroSpace startup.
# 'after-startup-command' is run after 'after-login-command'
# Available commands : https://nikitabobko.github.io/AeroSpace/commands
after-startup-command = []

# Start AeroSpace at login
start-at-login = true

# Normalizations. See: https://nikitabobko.github.io/AeroSpace/guide#normalization
enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true

# See: https://nikitabobko.github.io/AeroSpace/guide#layouts
# The 'accordion-padding' specifies the size of accordion padding
# You can set 0 to disable the padding feature
accordion-padding = 30

# Possible values: tiles|accordion
default-root-container-layout = 'tiles'

# Possible values: horizontal|vertical|auto
# 'auto' means: wide monitor (anything wider than high) gets horizontal orientation,
#               tall monitor (anything higher than wide) gets vertical orientation
default-root-container-orientation = 'auto'

# Possible values: (qwerty|dvorak)
# See https://nikitabobko.github.io/AeroSpace/guide#key-mapping
key-mapping.preset = 'qwerty'

# Mouse follows focus when focused monitor changes
# Drop it from your config, if you don't like this behavior
# See https://nikitabobko.github.io/AeroSpace/guide#on-focus-changed-callbacks
# See https://nikitabobko.github.io/AeroSpace/commands#move-mouse
on-focused-monitor-changed = ['move-mouse monitor-lazy-center']

# Gaps between windows (inner-*) and between monitor edges (outer-*).
# Possible values:
# - Constant:     gaps.outer.top = 8
# - Per monitor:  gaps.outer.top = [{ monitor.main = 16 }, { monitor."some-pattern" = 32 }, 24]
#                 In this example, 24 is a default value when there is no match.
#                 Monitor pattern is the same as for 'workspace-to-monitor-force-assignment'.
[gaps]
inner.horizontal = 0
inner.vertical = 0
outer.left = 0
outer.bottom = 0
outer.top = 0
outer.right = 0

# 
# mode 'main' の定義
# 
[mode.main.binding]

# All possible keys:
# - Letters.        a, b, c, ..., z
# - Numbers.        0, 1, 2, ..., 9
# - Keypad numbers. keypad0, keypad1, keypad2, ..., keypad9
# - F-keys.         f1, f2, ..., f20
# - Special keys.   minus, equal, period, comma, slash, backslash, quote, semicolon, backtick,
#                   leftSquareBracket, rightSquareBracket, space, enter, esc, backspace, tab
# - Keypad special. keypadClear, keypadDecimalMark, keypadDivide, keypadEnter, keypadEqual,
#                   keypadMinus, keypadMultiply, keypadPlus
# - Arrows.         left, down, up, right

# All possible modifiers: cmd, alt, ctrl, shift

# All possible commands: https://nikitabobko.github.io/AeroSpace/commands

# You can uncomment this line to open up terminal with alt + enter shortcut
# See: https://nikitabobko.github.io/AeroSpace/commands#exec-and-forget
# alt-enter = 'exec-and-forget open -n /System/Applications/Utilities/Terminal.app'

# tilesとaccordionを切り替える
alt-slash = 'layout tiles horizontal vertical'
alt-comma = 'layout accordion horizontal vertical'

# focusするアプリを変える
# alt-left = 'focus left'
# alt-down = 'focus down'
# alt-up = 'focus up'
# alt-right = 'focus right'

# アプリウィンドウを寄せる
alt-ctrl-left = 'move left'
alt-ctrl-down = 'move down'
alt-ctrl-up = 'move up'
alt-ctrl-right = 'move right'

ctrl-shift-minus = 'resize smart -50'
ctrl-shift-equal = 'resize smart +50'

# workspaceに移動する
ctrl-1 = 'workspace 1'
ctrl-2 = 'workspace 2'
ctrl-3 = 'workspace 3'
ctrl-4 = 'workspace 4'
ctrl-5 = 'workspace 5'
ctrl-6 = 'workspace 6'
ctrl-7 = 'workspace 7'
ctrl-8 = 'workspace 8'
ctrl-9 = 'workspace 9'
ctrl-0 = 'workspace 10'

# workspaceにアプリを移動させる
alt-shift-1 = 'move-node-to-workspace 1'
alt-shift-2 = 'move-node-to-workspace 2'
alt-shift-3 = 'move-node-to-workspace 3'
alt-shift-4 = 'move-node-to-workspace 4'
alt-shift-5 = 'move-node-to-workspace 5'
alt-shift-6 = 'move-node-to-workspace 6'
alt-shift-7 = 'move-node-to-workspace 7'
alt-shift-8 = 'move-node-to-workspace 8'
alt-shift-9 = 'move-node-to-workspace 9'
alt-shift-0 = 'move-node-to-workspace 10'

ctrl-f = 'fullscreen'

# monitorのfocusを変える
alt-tab = 'focus-monitor --wrap-around next'

# monitorをworkspaceごと移動させる
alt-shift-tab = 'move-workspace-to-monitor --wrap-around next'

# 別のmonitorにアプリを移動させる
alt-shift-right = 'move-node-to-monitor --focus-follows-window right'
alt-shift-left = 'move-node-to-monitor --focus-follows-window left'

# 一時的に有効/非有効
alt-shift-esc = 'enable toggle'

# windowをswapする
alt-ctrl-h = 'swap left'
alt-ctrl-j = 'swap down'
alt-ctrl-k = 'swap up'
alt-ctrl-l = 'swap right'

# ScreenSaverを起動する
alt-cmd-z = 'exec-and-forget sh -lc "open -a ScreenSaverEngine"'

# アプリの起動
alt-a = 'exec-and-forget open -a Arc.app'
alt-w = 'exec-and-forget open -a WezTerm.app'
alt-b = 'exec-and-forget open -a "Brave Browser.app"'
alt-s = 'exec-and-forget open -a Slack.app'
alt-l = 'exec-and-forget open -a LINE.app'
alt-d = 'exec-and-forget open -a Discord.app'

alt-c = 'exec-and-forget open -a DigitalClock.app'
alt-i = 'exec-and-forget open -a "System Settings.app"'

# Service modeに入る
alt-shift-semicolon = 'mode service'

# 
# mode 'service' の定義
# 
[mode.service.binding]
esc = ['reload-config', 'mode main']
r = ['flatten-workspace-tree', 'mode main'] # reset layout
f = [
  'layout floating tiling',
  'mode main',
] # Toggle between floating and tiling layout

# workspace を monitor に良い感じに配置
p = [
  'move-workspace-to-monitor --workspace 1 main',
  'move-workspace-to-monitor --workspace 2 main',
  'move-workspace-to-monitor --workspace 3 main',
  'move-workspace-to-monitor --workspace 4 main',
  'move-workspace-to-monitor --workspace 5 main',
  'move-workspace-to-monitor --workspace 6 main',
  'move-workspace-to-monitor --workspace 7 main',
  'move-workspace-to-monitor --workspace 9 secondary 2',
  'move-workspace-to-monitor --workspace 10 secondary 2',
  'move-workspace-to-monitor --workspace 8 secondary 2',  # workspace 8 にfocusを当てる
  'mode main',
]

backspace = ['close-all-windows-but-current', 'mode main']

# windowを縦並びか横並びする
alt-ctrl-left = ['join-with left', 'mode main']
alt-ctrl-down = ['join-with down', 'mode main']
alt-ctrl-up = ['join-with up', 'mode main']
alt-ctrl-right = ['join-with right', 'mode main']

# 起動時のアプリの設定
[[on-window-detected]]
if.app-id = 'company.thebrowser.Browser'
run = "move-node-to-workspace 1"
[[on-window-detected]]
if.app-id = 'com.github.wez.wezterm'
run = "move-node-to-workspace 2"
[[on-window-detected]]
if.app-id = 'com.brave.Browser'
run = "move-node-to-workspace 3"
[[on-window-detected]]
if.app-id = 'com.tinyspeck.slackmacgap'
run = "move-node-to-workspace 4"
[[on-window-detected]]
if.app-id = 'jp.naver.line.mac'
run = "move-node-to-workspace 5"
[[on-window-detected]]
if.app-id = 'com.hnc.Discord'
run = "move-node-to-workspace 6"
[[on-window-detected]]
if.app-id = 'com.junjieruan.digitalclock'
run = "move-node-to-workspace 8"
